@import "../../../../constants/variables";

$title-row-height: 30px;
.peak-knowledge-node-container {
  box-shadow: $peak-kn-box-shadow;
  padding: $peak-kn-padding;
  border: none;

  .peak-learning-title-row {
    position: absolute;
    top: calc(-#{$title-row-height / 2});
    display: flex;
    align-items: center;
    background-color: $background-color;
    padding-left: 10px;
    padding-right: 10px;
    height: $title-row-height;
    color: $placeholder-text-color;
    user-select: none;

    .learning-title-row-icon {
      margin-right: 5px;
    }
  }

  &.empty::after {
    position: absolute;
    color: $placeholder-text-color;
    top: 0;
    cursor: text;
    content: "Write down something that caught your attention....";
    display: flex;
    align-items: center;
    line-height: inherit;
    padding-top: calc(#{$peak-kn-padding-top} + 5px);
    pointer-events:none;
  }
}
