.edit-topic-modal-container {
  margin-left: 10px;
  .edit-topic-icon {
    cursor: pointer;
    display: none;

    &.visible {
      display: inline;
    }

    &:hover {
      color: #1890ff;
    }
  }
}
