@import "../../constants/variables";

.peak-timeline-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;

  .peak-timeline-header {
    line-height: $title-line-height;
    font-size: $title-font-size;
  }

  .peak-note-timeline {
    h1 {
      font-size: 2.5rem!important;
    }

    .timeline-icon {
      color: lightgray!important;
    }

    .peak-timeline-date-item {
      position: relative;
      text-align: left;

      &.first {
        top: initial!important;

        .ant-timeline-item-head {
          top: 1rem;
        }

        .ant-timeline-item-tail {
          position: absolute;
          height: 100%!important;
          //top: -10px;
        }
      }

      &.normal {
        .v-bar-icon {
          height: 100%;
          left: 4px;
          border-left: 2px solid #f0f0f0;
        }

        .ant-timeline-item-head {
          min-height: 10px!important;
          height: 15px!important;
          padding-bottom: 0;
          padding-top: 0;
        }

        .ant-timeline-item-tail {
          position: absolute;
          height: 100%!important;
          //top: -10px;
        }
      }
    }

    .peak-timeline-item {
      display: flex;
      align-items: center;
      padding-bottom: 40px;

      .ant-timeline-item-content {
        margin-left: 30px;
        text-align: left!important;
        text-transform: capitalize;

        .peak-timeline-item-body {
          display: flex;
          flex-direction: column;

          .title {
            font-size: 1.25rem;
            color: $text-color;

            &:hover {
              color: $primary-blue;
            }
          }

          .subtitle {
            text-transform: uppercase;
            color: $text-accent-color;
            font-size: .69rem;
          }
        }
      }

      .ant-timeline-item-head {
        top: initial!important;

        .timeline-icon {
          width: auto;
          height: 30px;
          padding-top: 5px;
          padding-bottom: 5px;
        }

      }

    }

    .final-timeline-item {
      text-align: left!important;

    }
  }
}

