@import "../../../constants/variables";

.blog-setup-container {
  text-align: left;
  max-width: 500px;
  padding-left: 36px;
  padding-right: 36px;

  .input-icon {
    color: $placeholder-text-color;
    margin-right: 5px;
  }
}