@import "../../../../../constants/variables";
.submitting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;

  .animation-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .peak-saving-animation {
      width: 100px!important;
      height: auto!important;
    }
  }

  .how-to-open-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;

    .hotkey-decoration {
      background-color: rgb(244, 245, 247);
      border-radius: 3px;
      padding: 1px 3px;
      margin-right: 4px;
      margin-left: 4px;
      display: inline-block;
      vertical-align: center;
      horiz-align: center;
      text-align: center;
    }

    .submitted {
      color: $primary-green;
    }
  }
}

$drawer-padding-amount: 24px;// We bad --> Look at save-page-content.scss before touching this
.peak-saving-skeleton {
  padding: 10px $drawer-padding-amount!important;
  //width: calc(100% - #{$drawer-padding-amount *2})!important;

  .ant-skeleton-content {
    width: 100%!important;
    box-sizing: border-box!important;

    .ant-skeleton-paragraph {
      margin: 0px;
      li {
        height: 30px!important;
        width: 100%!important;
      }
    }
  }
}