@import "../../../../../constants/variables";
.submitting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;

  .animation-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .peak-saving-animation {
      width: 100px!important;
      height: auto!important;
    }
  }

  .submitted {
    color: $primary-green;
  }
}
