.peak-message-header {
  display: flex;
  align-items: center;

  .peak-message-header-logo {
    margin-right: 10px;
    height: 24px;
    max-height: 24px;
    width: auto;
  }

  h3 {
    font-size: 20px!important;
    font-weight: 600!important;
    margin-bottom: 0px;
  }
}