@import "../../../../constants/variables";
.publish-post-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .publish-form {
    width: 100%;

    .form-row {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;
      min-height: 75px;

    }
  }

}
