@import "../../../../constants/variables";
.publish-post-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .row {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 25px;
  }
}

.publish-text-input {
  min-height: 50px;
}