@import "../../../constants/variables";

$drawer-padding-amount: 24px;
$drawer-header-vert-padding: 16px;
$drawer-title-height: 45px;
.peak-note-drawer {
  font-family: $font-family!important;
  z-index: 2147483645;
  outline: none!important;

  .ant-drawer-header {
    padding-top: $drawer-header-vert-padding;
    padding-bottom: $drawer-header-vert-padding;

    .page-peak-note-title-container {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: $drawer-title-height!important;

      .page-peak-favicon {
        height: 25px;
        width: auto;
        margin-right: 12px;
      }

      .page-peak-title-input {
        font-family: $font-family!important;
        font-weight: 600!important;
        color: rgba(0, 0, 0, 0.85); // #828282;
        font-size: 24px;
        padding-left: 0px!important;
        border: none!important;
        outline: none!important;
        box-shadow: none!important;
        padding-top: 4px!important;
        padding-bottom: 4px!important;
      }

      .peak-close-icon {
        cursor: pointer;
        position: absolute;
        width: 16px;
        right: 5px;
        top: 5px;
      }
    }
  }

  .ant-drawer-body {
    padding: 0px;
    height: calc(100vh - #{$drawer-title-height} - #{$drawer-padding-amount});
    display: flex;
    flex-direction: column;
    //overflow: hidden; /* Hide scrollbars */

    .peak-note-drawer-body {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: $drawer-padding-amount $drawer-padding-amount 0px;
      flex: 1 1 auto;

      .peak-note-drawer-tag-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .peak-note-drawer-header {
          font-family: $font-family!important;
          font-weight: 600!important;
          color: #828282;// rgba(0, 0, 0, 0.85);
        }

        .peak-note-tag-section-container {
          display: flex;
          align-items: center;
          width: 100%;
        }
      }
    }

    .peak-note-drawer-footer {
      //margin: -$drawer-padding-amount;
      border-top: 1px solid #f0f0f0;
      width: 100% !important;
      color: $placeholder-text-color;

      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;

      .hotkey-decoration {
        background-color: rgb(244, 245, 247);
        border-radius: 3px;
        padding: 1px 3px;
        display: inline-block;
        vertical-align: center;
        horiz-align: center;
        text-align: center;
      }
    }
  }
}
