@import "../../../constants/variables";

.peak-note-drawer {
  font-family: $font-family!important;
  z-index: 2147483645;
  outline: none!important;

  .page-peak-note-title-container {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 45px!important;

    .page-peak-favicon {
      height: 25px;
      width: auto;
      margin-right: 12px;
    }

    .page-peak-title-input {
      padding-left: 0px!important;
      font-size: 24px;
      font-weight: bold;
      border: none!important;
      outline: none!important;
      box-shadow: none!important;
      padding-top: 4px!important;
      padding-bottom: 4px!important;
    }
  }

  .peak-note-drawer-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;

    .peak-note-drawer-footer {
      display: flex;
      flex-direction: column;
      min-height: 20%;
      justify-content: space-between;
      flex: 1 1 auto;

      .peak-note-footer-header-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .peak-note-footer-header {
          height: 24px!important;
          line-height: 24px!important;
        }
      }
    }
  }
}
