.peak-note-drawer {
  z-index: 2147483647;
  outline: none!important;

  .drawer-title-row {
    display: flex;
    line-height: 24px;
    height: 24px;

    .peak-chrome-ext-logo {
      width: auto;
      margin-right: 12px;
      height: 100%;
      max-height: 100%;
      display: inherit;
      justify-content: inherit;
      align-items: center;
    }
  }

}
