// --------------
// Global
// --------------
$text-color: rgb(42, 49, 53);
$text-accent-color: rgba(42, 49, 53, .4);
$gray-accent-color: #E6ECF1;
$c-accent-color: rgb(235, 236, 240);
$placeholder-text-color: #bfbfbf;
$background-color: #FFF;


// ---------
// Sidebar
// ---------
$sidebar-border-right: 1px solid $gray-accent-color;
//$sidebar-background-color: #F5F7F9;
$sidebar-background-color: $background-color;
$sidebar-width: 15%;
$sidebar-padding: 15px;
$fullscreen-sidebar-width: 20%;
$fullscreen-sidebar-padding: 40px;

// ------------------
// Content Container
// ------------------
$vertical-padding: 82px;
$horizontal-padding: 170px;

// ---------
// Headers
// ---------
// Title
$title-font-size: 2.5rem!important;
$title-font-weight: 600!important;
$title-line-height: 2.6rem;

// REMOVE THIS ONCE YOU GET RID OF THE PAGE TITLE
$h1-font-size: 2.2rem!important;
$h1-line-height: 2.5rem!important;
$heading-font-weight: 600;
$heading-color: $text-color;

// --------------
// Search Bar Row
// --------------
$main-bar-height: 55px;

// -------------
// Colors
// -------------
$primary-blue: #1890ff;
$primary-green: #389e0d;
$c-gray: #f4f5f7;



// ---------------
// Knowledge Nodes
// ---------------
$peak-kn-box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
$peak-kn-padding-top: 16px;
$peak-kn-padding: $peak-kn-padding-top 24px;
