@import "./variables";

.peak-hotkey-decoration {
    background-color: rgb(244, 245, 247);
    border-radius: 3px;
    padding: 1px 3px;
    display: inline-block;
    vertical-align: center;
    horiz-align: center;
    text-align: center;
}