@import "../../constants/variables";

.filler {
  min-height: 60px!important;
  height: 60px;
  margin-bottom: $vertical-padding;
}

.peak-topic-wiki-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1 auto;

  .rich-text-editor-container {
    position: relative;
    flex: 1 1 auto;

    .peak-divider {
      border-bottom: 1px solid $gray-accent-color;
    }
  }

}
