@import "../../constants/variables";

.peak-topic-wiki-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1 auto;

  .rich-text-editor-container {
    position: relative;
    flex: 1 1 auto;
  }
}
