@import "../../../constants/variables";

.peak-publish-modal {
  width: 50%!important;

  .ant-modal-content {
    box-shadow: none;

    .ant-modal-body {
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 50px;
    }

  }
}

.publish-modal-button {
  z-index: 1;
  position: absolute;
  right: -150px;
  top: 10px;
  width: 120px;
}
