@import "../../../constants/variables";

.peak-publish-modal {
  display: flex;
  justify-content: center;
  width: 60% !important;
  min-height: 750px;

  .publish-post-container {
    display: flex;
    align-items: center;
  }

  .ant-modal-content {
    box-shadow: none;
    width: 100%;

    .ant-modal-body {
      display: flex;
      justify-content: center;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 50px;
      height: 100%;
      width: 100%;
    }
  }
}

.publish-modal-button {
  z-index: 1;
  position: absolute;
  right: -150px;
  top: 10px;
  width: 120px;
}
