.node-content-select-item-container {
  width: 100%;
  display: flex;
  min-height: 40px;
  padding: 12px;
  align-items: center;
  min-width: 350px;

  .inline-select-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px!important;
    height: 40px!important;
    font-size: 32px;
    margin-right: 12px;
  }
  .peak-editor-control-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px!important;
    height: 40px!important;
    font-size: 32px;
    margin-right: 12px;
  }

  .node-content-item {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .node-content-item-body {

      .node-title {
        color: rgb(9, 30, 66);
        font-size: 14px;
        font-weight: 400;
      }

      .node-description {
        color: rgb(107, 119, 140);
        font-size: 12px;
      }
    }

    .node-hotkey {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0;
      margin-right: 0px!important;
      background-color: rgba(223, 225, 229, 0.5);
    }
  }
}

.slate-MentionSelect {
  padding: 0;
}

.peak-node-content-item-selected {
  background-color: #f4f5f7!important;

}