.peak-electron-welcome-button {
  display: inline-flex;
  cursor: pointer;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 8px!important;
  padding: 0px 32px!important;
  background-color: rgba(9, 109, 217, .69);
}