@import "constants/variables";

.App {
  text-align: center;
  height: 100vh;
}


// The styles below apply to all editors. Don't have a good place to put them
.peak-blockquote {
  font-style: italic;
  font-size: 1.5em;
  font-weight: 600;
}