@import "../../../../constants/variables";

.topic-group-container {
  display: flex;
  border-right: 0;
  justify-content: space-between;
  flex-direction: column;

  .topic-group {

    &.hovering {
      background-color: rgba(64, 169, 255, .1);
    }

    .topic-page-item {
      padding-left: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
      height: 40px;
      line-height: 40px;

      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        color: $primary-blue;
        cursor: pointer;
      }

      &.selected {
        color: $primary-blue;
        border-right: 2px solid $primary-blue;
      }

      .topic-page-item-link {
        color: inherit;
        width: 100%;
      }

      .dragging {
        opacity: 0;
      }

      .hovering {
        opacity: 0.5;
        background-color: yellow;
      }
    }

  }

}
