$transition: all .5s ease-in-out;

.saved-page-message {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
  margin-top: 24px;
  min-height: 150px;

  .ant-notification-notice-message {
    border-bottom: 1px solid rgb(240, 240, 240);
    padding-bottom: 10px;
  }

  .ant-notification-notice-description {
    display: flex;
    align-items: center;
  }
}

.drawer-mode {
  height: 100vh;
  margin-top: 0;
  margin-right: -24px;
}