$transition: all .5s ease-in-out;

.saved-page-message {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
  margin-top: 24px;
  height: 150px;

  .ant-notification-notice-description {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.drawer-mode {
  height: 100vh;
  margin-top: 0;
  margin-right: -24px;
}