@import "../../../constants/variables";

.peak-note-view-container {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;

  .note-header-section {
    display: flex;
    flex-direction: column;

    .note-subheader-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-weight: 700;
      height: 22px!important;
      line-height: 22px!important;
      font-size: 14px!important;

      .note-link-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .note-web-icon {
          height: 18px;
          width: auto;
          padding-right: 5px;
        }

        .note-url {
          color: $text-accent-color;
          text-decoration: none!important;
          text-shadow: none!important;
          background: none!important;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.05em;
        }
      }
    }

    .note-header-row {
      display: flex;
      padding-top: 24px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      h1 {
        margin-bottom: 0;
      }
    }

    .book-note-header-row {
      display: flex;
      margin-top: 24px;
      align-items: center;
      justify-content: flex-start;
      min-height: 88px;


      .book-note-cover-image {
        width: 64px;
        height: auto;

        svg {
          width: 48px;
          height: auto;
        }
      }

      .note-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 15px;

        h1 {
          margin-bottom: 0;
        }

        .author-subtitle {
          text-transform: uppercase;
          font-weight: 700;
          color: $text-accent-color;
        }
      }
    }
  }

  .note-divider {
    margin-top: 32px;
    margin-bottom: 32px;
  }

}